Flask==3.1.0
google-auth-oauthlib==1.2.1
google-auth==2.38.0
google-api-python-client==2.162.0
googleapis-common-protos==1.68.0
httplib2==0.22.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
uritemplate==4.1.1
urllib3==2.3.0
beautifulsoup4==4.13.3
genai==2.1.0